
// ----------------------------
// #GRID
// ----------------------------

// grid - breakpoints
$bp-screen-sm:                  480px;
$bp-screen-md:                  768px;
$bp-screen-lg:                  1024px;
$bp-screen-xl:                  1280px;


// ----------------------------
// #COLORS
// ----------------------------

// colors - grayscale
$black:                         #4A4A4A;
$black-t:                       #000; // true black
$white:                         #f5f5f5;
$white-t:                       #fff; // true white
$gray:                          #303030; // accessible on #f5f5f5
$gray-d1:                       #5a5a5a;
$gray-l1:                       #979797; 
$gray-l3:                       #d8d8d8;
$transparent:                   rgba(0, 0, 0, 0); // transparent black
$transparent-w:                 rgba(255,255,255,0); // transparent white
$glare:                         rgba($white-t, .3);
$shadow:                        rgba($black-t, .5);
$smoke:                         rgba($gray, .3);
$wisp:                          rgba($gray, .1);

// colors - named
$red:                           #F56B6B;
$purple:                        #9D7DAE;
$green:                         #7CAF5F;
$blue:                          #128EAD;
$yellow:                        #F2A466;

// colors - brand
$brand-primary:                 $black;
$brand-primary-accent:          $red;
$brand-secondary:               $purple;

// colors - utilities
$success:                       $green;
$warning:                       $yellow;
$error:                         $red;
$informational:                 $gray-l3;


// ----------------------------
// #TYPOGRAPHY
// ----------------------------

$base-font: 'Raleway', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$alt-font: 'Roboto slab', Cambria, 'Times New Roman', Times, serif;

// font-sizes and line-heights
$fs-xxxsmall: .9rem;
$fs-xxsmall: 1rem;
$fs-xsmall: 1.2rem;
$fs-smallish: 1.3rem;
$fs-small: 1.4rem;
$fs-base: 1.6rem;
$fs-large: 2.0rem;
$fs-xlarge: 2.8rem;
$fs-xxlarge: 3.6rem;
$fs-xxxlarge: 4.2rem;
$fs-xxxxlarge: 4.8rem;

$fw-bold: 600;
$fw-normal: 400;
$fw-light: 300;

$lh-xtight: .92;
$lh-tight: 1;
$lh-base: 1.2;
$lh-loose: 1.5;
$lh-xloose: 1.7;


// ----------------------------
// #DEPTH
// ----------------------------

$z-depth-way-back:      -1000;
$z-depth-back:           -100;
$z-depth-lil-back:       -10;
$z-depth-base:           1;
$z-depth-lil-front:      10;
$z-depth-front:          100;
$z-depth-way-front:     1000;
